div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.vacancies_block .entry-main {
	padding-left: 0 !important;
}
.vacancies_block .entry-main .entry-header {
	padding: 10px;
	border: 8px solid white;
	background-color: #f9f9f9;
}