@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);.ts-d_flex {
  display: flex; }

.ts-flex_wrap {
  flex-wrap: wrap; }

.ts-flex_align--center {
  align-items: center; }

.ts-flex_align--end {
  align-items: flex-end; }

.ts-flex_align--start {
  align-items: flex-start; }

.ts-flex_justify--center {
  justify-content: center; }

.ts-flex_justify--end {
  justify-content: flex-end; }

.ts-flex_justify--start {
  justify-content: flex-start; }

.ts-flex_justify--between {
  justify-content: space-between; }

.ts-flex_justify--around {
  justify-content: space-around; }

.ts-mx-0 {
  margin-right: 0 !important;
  margin-left: 0  !important; }

.ts-mx-1 {
  margin-right: 1rem !important;
  margin-left: 1rem  !important; }

.ts-mx-2 {
  margin-right: 2rem !important;
  margin-left: 2rem !important; }

.ts-mx-3 {
  margin-right: 3rem !important;
  margin-left: 3rem  !important; }

.ts-mx-4 {
  margin-right: 4rem !important;
  margin-left: 4rem  !important; }

.ts-mx-auto {
  margin-right: auto !important;
  margin-left: auto  !important; }

.ts-my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.ts-my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.ts-my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.ts-my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.ts-my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.ts-my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important; }

.ts-px-0 {
  padding-right: 0 !important;
  padding-left: 0  !important; }

.ts-px-0_5 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem  !important; }

.ts-px-1 {
  padding-right: 1rem !important;
  padding-left: 1rem  !important; }

.ts-px-2 {
  padding-right: 2rem !important;
  padding-left: 2rem !important; }

.ts-px-3 {
  padding-right: 3rem !important;
  padding-left: 3rem  !important; }

.ts-px-4 {
  padding-right: 4rem !important;
  padding-left: 4rem  !important; }

.ts-px-auto {
  padding-right: auto !important;
  padding-left: auto  !important; }

.ts-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.ts-py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.ts-py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.ts-py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.ts-py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.ts-py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.ts-p-relative {
  position: relative; }

.ts-p-absolute {
  position: absolute; }

.ts-text-white {
  color: white; }

.ts-text-black {
  color: black; }

.ts-bg-white {
  background: white; }

.ts-z-index {
  z-index: 1; }

.ts-border-white {
  border: 1px solid #bcbcbc; }

.ts-col-5 {
  width: 5%; }

.ts-col-10 {
  width: 10%; }

.ts-col-15 {
  width: 15%; }

.ts-col-20 {
  width: 20%; }

.ts-col-25 {
  width: 25%; }

.ts-col-30 {
  width: 30%; }

.ts-col-35 {
  width: 35%; }

.ts-col-40 {
  width: 40%; }

.ts-col-45 {
  width: 45%; }

.ts-col-50 {
  width: 50%; }

.ts-col-55 {
  width: 55%; }

.ts-col-60 {
  width: 60%; }

.ts-col-65 {
  width: 65%; }

.ts-col-70 {
  width: 70%; }

.ts-col-75 {
  width: 75%; }

.ts-col-80 {
  width: 80%; }

.ts-col-85 {
  width: 85%; }

.ts-col-90 {
  width: 90%; }

.ts-col-95 {
  width: 95%; }

.ts-col-100 {
  width: 100%; }

.ts-flex_justify {
  justify-content: space-between; }

@media (max-width: 1050px) {
  .ts-flex_justify {
    justify-content: start; }
  .ts-col-5 {
    width: 15%; }
  .ts-col-10 {
    width: 30%; }
  .ts-col-15 {
    width: 45%; }
  .ts-col-20 {
    width: 60%; }
  .ts-col-25 {
    width: 75%; }
  .ts-col-30 {
    width: 90%; }
  .ts-col-35 {
    width: 105%; }
  .ts-col-40 {
    width: 120%; }
  .ts-col-45 {
    width: 135%; }
  .ts-col-50 {
    width: 150%; }
  .ts-col-55 {
    width: 165%; }
  .ts-col-60 {
    width: 180%; }
  .ts-col-65 {
    width: 195%; }
  .ts-col-70 {
    width: 210%; }
  .ts-col-75 {
    width: 225%; }
  .ts-col-80 {
    width: 240%; }
  .ts-col-85 {
    width: 255%; }
  .ts-col-90 {
    width: 270%; }
  .ts-col-95 {
    width: 285%; }
  .ts-col-100 {
    width: 300%; } }

@media (max-width: 800px) {
  .ts-col-5 {
    width: 100%; }
  .ts-col-10 {
    width: 100%; }
  .ts-col-15 {
    width: 100%; }
  .ts-col-20 {
    width: 100%; }
  .ts-col-25 {
    width: 100%; }
  .ts-col-30 {
    width: 100%; }
  .ts-col-35 {
    width: 100%; }
  .ts-col-40 {
    width: 100%; }
  .ts-col-45 {
    width: 100%; }
  .ts-col-50 {
    width: 100%; }
  .ts-col-55 {
    width: 100%; }
  .ts-col-60 {
    width: 100%; }
  .ts-col-65 {
    width: 100%; }
  .ts-col-70 {
    width: 100%; }
  .ts-col-75 {
    width: 100%; }
  .ts-col-80 {
    width: 100%; }
  .ts-col-85 {
    width: 100%; }
  .ts-col-90 {
    width: 100%; }
  .ts-col-95 {
    width: 100%; }
  .ts-col-100 {
    width: 100%; } }

@media (max-width: 578px) {
  .ts-col-5 {
    width: 100%; }
  .ts-col-10 {
    width: 100%; }
  .ts-col-15 {
    width: 100%; }
  .ts-col-20 {
    width: 100%; }
  .ts-col-25 {
    width: 100%; }
  .ts-col-30 {
    width: 100%; }
  .ts-col-35 {
    width: 100%; }
  .ts-col-40 {
    width: 100%; }
  .ts-col-45 {
    width: 100%; }
  .ts-col-50 {
    width: 100%; }
  .ts-col-55 {
    width: 100%; }
  .ts-col-60 {
    width: 100%; }
  .ts-col-65 {
    width: 100%; }
  .ts-col-70 {
    width: 100%; }
  .ts-col-75 {
    width: 100%; }
  .ts-col-80 {
    width: 100%; }
  .ts-col-85 {
    width: 100%; }
  .ts-col-90 {
    width: 100%; }
  .ts-col-95 {
    width: 100%; }
  .ts-col-100 {
    width: 100%; } }

.ts-container {
  width: 1280px; }

#ts-section-new-news {
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5; }
  #ts-section-new-news .ts-headeing-news img {
    width: 100%; }
  #ts-section-new-news .ts-headeing-news .header-text {
    position: absolute;
    bottom: 0;
    padding: 80px 30px 27px 30px;
    background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85) 100%);
    left: 0; }
    #ts-section-new-news .ts-headeing-news .header-text ul {
      list-style: none;
      display: flex;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 12px;
      font-weight: bold; }
      #ts-section-new-news .ts-headeing-news .header-text ul li {
        margin-right: 1rem;
        padding: 5px 10px; }
        #ts-section-new-news .ts-headeing-news .header-text ul li.active {
          background: #2a8cdf;
          font-size: 18px; }
    #ts-section-new-news .ts-headeing-news .header-text h2 {
      font-size: 34px;
      font-weight: 600;
      line-height: 1.375;
      letter-spacing: .025em;
      text-transform: uppercase;
      color: white; }
    #ts-section-new-news .ts-headeing-news .header-text small {
      line-height: 1.25;
      letter-spacing: 0.5px;
      font: 16px sans-serif;
      font-family: 'Open Sans', sans-serif;
      color: white; }
  #ts-section-new-news .ts-content {
    background: white; }
    #ts-section-new-news .ts-content .ts-blockoute {
      width: 60%;
      border-radius: 4px;
      border-radius: 4px;
      padding: 2rem 3rem;
      position: relative;
      font-size: 19px;
      line-height: 31px;
      letter-spacing: 1.1x;
      color: #575757;
      font-size: 19px;
      letter-spacing: 1.4px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 1.4px;
      border: 1px solid rgba(212, 212, 212, 0.1);
      box-shadow: 2px 5px 28px 0px rgba(0, 0, 0, 0.03), 0 3px 6px rgba(0, 0, 0, 0.03); }
    #ts-section-new-news .ts-content h3 {
      font-size: 32px; }
    #ts-section-new-news .ts-content h4 {
      font-size: 21px;
      font-style: italic; }
    #ts-section-new-news .ts-content p {
      font-size: 18px;
      letter-spacing: 1.1px;
      line-height: 24px;
      font-weight: 300;
      color: #27241f; }
    #ts-section-new-news .ts-content img {
      margin-right: auto;
      margin-left: auto;
      display: block; }
    #ts-section-new-news .ts-content br {
      line-height: 2.5rem; }
    #ts-section-new-news .ts-content ul li {
      font-size: 18px;
      letter-spacing: 1.1px;
      line-height: 24px;
      font-weight: 300;
      color: #27241f;
      margin-bottom: 16px; }
    #ts-section-new-news .ts-content i {
      font-size: 18px;
      letter-spacing: 1.1px;
      line-height: 24px;
      font-weight: 300; }
    #ts-section-new-news .ts-content h3, #ts-section-new-news .ts-content h4, #ts-section-new-news .ts-content p, #ts-section-new-news .ts-content br, #ts-section-new-news .ts-content ul, #ts-section-new-news .ts-content i {
      display: block;
      width: 80%;
      margin-right: auto;
      margin-left: auto; }
    #ts-section-new-news .ts-content ul {
      padding-left: 120px; }
    #ts-section-new-news .ts-content h3, #ts-section-new-news .ts-content p, #ts-section-new-news .ts-content i {
      margin-top: 4rem;
      margin-bottom: 4rem; }
