@import 'react-form.css'
@import 'ts-style.css'
.header-icon-search {
    border: none;
    color: #9ce2fe;
}
.header-title-search {
    border-bottom: 1px dashed #000;
    color: #000;
}
.header-order-block {
    text-align: right;
}
.header-order-block-title {
    color: #000;
    opacity: 0.8;
    transition: all .3s;
    font-size: 15px;
    border-bottom: 1px dashed #000;
    margin-right: 20px;
}
.header-phone-block {
    /* color: #364f66; */
    /* font-size: 20px; */
    /* font-weight: 700; */
    color: #364f66;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 3px;
    /* text-align: right; */
}
.header-icon-phone {
    /* border: none; */
    color: #9ce2fe;
    font-size: 24px;
    margin-right: 5px;
    /* margin-top: 5px; */
    /* padding-top: 15px; */
}
.area-bg.child-block
{
    margin-left: -240px;
    width: 145%;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
.row-flex .b-post_bg-white {
    height: 100%;
}
.widget.section-sidebar.left_block {
    margin-top: 50px;
    margin-bottom: 29px;
}
.widget.section-sidebar.left_block .ui-title-inner {
    margin-bottom: 0 !important;
}
.bg-grey .l-sidebar_first-section {
    margin-top: 30px;
}
/*
.opblock {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-image: repeating-linear-gradient(to top,rgb(254, 254, 254) 0%,rgba(226, 226, 226, 0) 100%,rgba(209, 209, 209, 0.38) 255%,rgba(219, 219, 219, 0) 255%,rgba(209, 209, 209, 0.38) 255%);
}
.soap-block {
    height: 185px;
    overflow: hidden;
    position: relative;
}
*/

/*.soap-block {
    height: 185px;
    overflow: hidden;
    position: relative;
}*/
/*
.size {
    height: 185px;
    overflow: hidden; !* Обрезаем содержимое *!
    padding: 5px; !* Поля *!
    text-overflow: ellipsis; !* Многоточие *!
}
.size:hover {
    background: #f0f0f0; !* Цвет фона *!
    white-space: normal; !* Обычный перенос текста *!
}*/
/*.size {
    position: relative;
    max-height: 185px;
    overflow: hidden;
}
.size:after {
    content: '...';
    position: absolute;
    bottom: 7px;
    right: 0;
}*/

.ellipsis {
    white-space: nowrap;
    /*max-height: 185px;*/
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}
.pagination > li > a, .pagination > li > span {
    background-color: transparent;
}
.sp-slides .photo-title {margin-bottom: 10px;}