/* 
    Created on : 04.12.2017, 13:52:12
    Author     : dimabresky
*/

#adults-box .btn-text,
#children-box .btn-text,
#social-box .btn-text {
    text-overflow: inherit !important;
}

#adults-box .btn-text:before,
#children-box .btn-text:before,
#social-box .btn-text:before {
    content: "" !important;
}

#adults-box .btn-text:after,
#children-box .btn-text:after,
#social-box .btn-text:after {
    content: "" !important;
}

.promo-form .input-form {
    margin-top: 0px !important;
}

.promo-form {padding:2.2rem !important;}

.swapper{
    cursor: pointer;
}
.swapper::after {
    background: url(/bitrix/templates/eurotrans/img/swap_horiz_white_24dp.png) no-repeat center/24px;
    content: '';
    display: block;
    height: 2.2rem;
    -webkit-transition: transform 150ms ease 0ms;
    width: 100%;
}
@media (max-width: 850px){
    .w850-hide{
        display: none !important;
    }
}
@media (min-width: 850px){
    .w850-45{
        width: 45% !important;
    }
    .w850-p10{
        width: 10% !important;
    }
}
.left-calendar-icon .icon-drop{
    left: 5% !important;
}
.left-calendar-icon .input-main{
    padding-left: 20% !important;
}