/* 
    Created on : 04.12.2017, 13:52:12
    Author     : dimabresky
*/

#adults-box .btn-text,
#children-box .btn-text,
#social-box .btn-text {
    text-overflow: inherit !important;
}

#adults-box .btn-text:before,
#children-box .btn-text:before,
#social-box .btn-text:before {
    content: "" !important;
}

#adults-box .btn-text:after,
#children-box .btn-text:after,
#social-box .btn-text:after {
    content: "" !important;
}

.promo-form .input-form {
    margin-top: 0px !important;
}

.promo-form {padding:2.2rem !important;}