.content-column-wrap {
    min-height: auto !important;
}

.table-item {
    border-bottom: 1px solid #c2c4c5;
}

.table-tickets .table-head .table-item:nth-child(1) {
    width: 4.4375rem !important;
}

.table-tickets .table-head .table-item:nth-child(2) {
    width: auto !important;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(3) {
    width: auto !important;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(4) {
    width: auto !important;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(5) {
    width: auto !important;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(6) {
    width: auto !important;
    min-width: 200px;
    max-width: 200px;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(7) {
    width: 60px !important;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(8) {
    width: auto !important;
    text-align: center;
}

.table-tickets .table-head .table-item:nth-child(9) {
    width: auto !important;
    text-align: center;
}

.table-tickets .table-row .table-item:nth-child(3), .table-tickets .table-row .table-item:nth-child(4), .table-tickets .table-row .table-item:nth-child(5) {
    text-align: center;
}

.dropdown-table-item .dropdown-target {
    top: auto;
    bottom: 250%;
    right: auto;
    left: -58px;
}

.dropdown-table-item.table-item {
    text-align: center;
}

.dropdown-table-item .dropdown-content {
    padding: 10px;
    white-space: nowrap;
    width: 150px;
}

.text-1 {
    line-height: 1.2em !important;
}

.table-pagination {
    user-select: none;
}
.table-navigation{
    margin-top: 0 !important;
}
.modal-layout.modal-passenger .modal-container{
    max-width: 72.4375rem
}
.table-tickets .table-item .text-1, .table-tickets .table-item .text-bold, .table-tickets .table-item .text-sm{
    display: block !important;
}
