nav ul li{
	list-style: none;
	font-size: 13px;
	text-transform: uppercase;

}
nav ul li a{
	color: #162f5c;
}
nav ul li a:hover{
	color: #bf2a1c;
}
.ts-dropdown__links{
	padding-left: 0;
	right: 0;
	background: white;
	border-color: lightgrey;
}
.ts-dropdown__links li{
	padding-bottom: 0.5rem;
}

