/*
    Created on : 19.11.2017, 18:42:40
    Author     : dimabresky
*/
@import "ts-theme.css";

.tickets-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold !important;
}

.tickets-info li{
    margin-top: 10px;
}

.passangers-block {
    margin-top: 30px;
}

.f-s {
    font-size: 14px !important;
}

.phone-prefix {
    position: absolute;
    font-size: 14px;
    bottom: 14px;
    padding-left: 10px;
}

.phone-input {
    padding-left: 50px !important;
}

input[name="eurotrans[booking]"] {
    padding: .78125rem 1.375rem;
}

#booking-btn-block {
    text-align: right;
}

.error-area {
    font-size: 14px;
    color: red;
}

input[name=captcha_word] {
    width: 181px !important;
    margin-top: 15px;
}
@media screen and (max-width: 800px) {
.input-item.s50 {width:100% !important} }

#eurotrans-booking-btn.animated input{
    background-color: #dae6ec;
    color: transparent!important;
    pointer-events: none;
    border-color: #dae6ec;
}

.form-block-section .input-form .input-item.s30{
    width: 30%;
}
.orange{
    color: #ff8400;
}

.btn-switcher-tab{
    display: none;
}
.btn-switcher-tab.active{
    display: block;
}
.btn-switcher-elem {height: 3em;
    min-width: 194px !important;
    font-size: 0.86rem !important;
    line-height: 1.5 !important;}
.bg-semiblu {background-color:#f0f4f7}

.input-item.s30 {
    width: 30%;
}
