.ts_news--heading-section{
    font-size:32px;
   font-weight:400;
  
   }
   .ts-news--text-title{
        font-weight: 200 !important;
        font-style: italic;
        font-size: 18px !important;
        line-height: 24px;
        letter-spacing: 1.1px;
   }

.ts_news--text-section{
   font-size: 18px !important;
    font-weight: 200px;
    line-height: 24px;
    letter-spacing: 1.1px;
    color: #464646;
    font-weight: 200 !important;
}
   .ts_news--list-section{
    font-size:16px;
   }
   
   .ts_news--list-section li{
      font-size:18px;
   }
   .ts_news--headeing-list{
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 1.5rem;
  
  }
   .ts-content{
       display: flex;
       flex-direction: column;
       justify-content: center;

   }
   .ts-content h2{
       margin-bottom: 0;
       margin-top: 30px;
   }
   .ts-content p{
       margin-top: 15px;
   }
   .ts-content img {
       display: block;
       margin:  auto;
   }
.ts-after-text-img{
font-size:10px !important;
margin-top: 0.5rem !important;
    margin-right: auto;
    margin-left: auto;
}