.ts-theme{
  .ts-card{
    &__info{
      padding: 2rem;
      border:1px solid lightgray;
      border-radius: 4px;
      background:#4f5762;
      ul{
        padding: 0;
        margin: 0;
        color: white;
        list-style: none;
        li{
          display: flex;
          align-items: center;
          flex-wrap:wrap;
          padding-bottom:0.5rem;
          
          &:last-child{
            padding-bottom: 0;
          } 
          .text{
            width: 80%;
            font-size: 13px;
            .title{
              font-size: 16px;
            }

          }
          &:before{
            content:'';
            display: block;
            width: 8px;
            height: 8px;
            background: white;
            border-radius: 8px;
            margin-right: 15px;
          
          }
        }
      }
    }
  }
}