$fontSize:(
    html:(
        14,
        13
        ),
    h1: (
        96,
        80
    ),
    h2: (
        60,
        50
    ),
    li:(
        14,
        13
    ),
    h3: (
        48,
        40
    ),
    h4: (
        35,
        28
    ),
    h5: (
        21,
        17
    ),
    h6: (
        18,
        14
    ),
    div:(
        14,
        13
    ),
    p: (
        14,
        13
    ),
    a: (
        14,
        13
    ),
    small: (
        12,
        10
    )
);

@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
    $k: ($f-max - $f-min)/($v-max - $v-min);
    $b: $f-min - $k * $v-min;
  
    $b: $b * 1px;
  
    @return calc( #{$k} * 100vh + #{$b} );
  }
 

@mixin create-mq-fontsize($breackpoints) {
    .ts-theme{
        @each $tag,$size in $fontSize{
            #{$tag}{
                 font-size:calcFluidFontSize(nth($size,2), nth($size,1), 320, 1920);
             }
         }
    }
     
}

@mixin calc-font-size($minf,$maxf){
    font-size: calcFluidFontSize($minf,$maxf, 320, 1200) !important;
}