$indentsName:('mt':'margin-top','mb':'margin-bottom','mx':('margin-right','margin-left'),'my':('margin-top','margin-bottom'),'mr':'margin-right','ml':'margin-left','pt':'padding-top','pb':'padding-bottom','px':('padding-right','padding-left'),'py':('padding-top','padding-bottom'),'pr':'padding-right','pl':'padding-left','p':'padding','m':'margin');

@mixin create-mq-indents($breakpoint) {
    
            @each $key,$val in $breakpoint{
                @for $i from 0 through 10{
                    @if($key == ''){
                        @each $keyS, $selector in $indentsName{
                            .ts-#{$keyS}-#{$i}{
                                @if(length($selector)>1){
                                   @for $y from 1 through length($selector){
                                     #{nth($selector,$y)} : calc(#{$i}rem/2) !important;
                                   }
                                }
                                @else {
                                    #{$selector}: calc(#{$i}rem/2) !important;
                                }
                            }
                        }
                    }
                    @else{
                        @media screen and (min-width: $val) {
                            @each $keyS, $selector in $indentsName{
                                .ts-#{$keyS}-#{$key}-#{$i}{
                                    @if(length($selector)>1){
                                       @for $y from 1 through length($selector){
                                         #{nth($selector,$y)} : calc(#{$i}rem / 2) !important;
                                       }
                                    }
                                    @else {
                                        #{$selector}: calc(#{$i}rem / 2) !important;
                                    }
                                }
                            }
                        }
                    }
                    
            }
    }
}

