

@mixin create-mq-display($breakpoint) {
    @each $key, $val in $breackpoint{
        @if($val == 0) {
            .ts-d-none{
                display: none;
            }
            .ts-d-flex{
                display: flex;
            }
            .ts-d-block{
                display: block;
            }
        } @else {
          @media screen and (min-width: $val) {
            .ts-d-#{$key}-none{
                display: none !important;
            }
            .ts-d-#{$key}-flex{
                display: flex !important;
            }
            .ts-d-#{$key}-block{
                display: block !important;
            }
          }
        }
    }
    
  }

