$colorHeader: white;
$colorBorder: rgba(211, 211, 211, 0.445);
$countTd: 9;
$fontSize:13px;
.ts-theme{
    .ts-table{
        &__content{
            width: 100%;
            //min-width: 768px;
            @media (max-width:992px){
                overflow: scroll;
            } 
        }
        .select2-container--material .select2-selection{
            background: white;
            font-size: 13px;
        }
        table{
            box-sizing: border-box;
            border-spacing: 0;
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
            font-size: $fontSize;
            border-radius: 2px;
            overflow: hidden;
            border:1px solid $colorBorder;
            border-bottom: none;
            border-radius: 4px;
            
            thead{

            }
            tbody{
                
            }
            tr{
                
            }
            td,th{
                min-width: 100%/$countTd;
                border-bottom: 1px solid $colorBorder; 
                text-align: center;
                vertical-align: middle;
                min-height: 40px;
                padding: 10px 5px;
                background: white;
            
                
                
            }
            th{
                //border-bottom: 1px solid #ccc;
                background: #56c3c7;
                //background: rgba(85, 196, 198, 0.11);
                //border-top: 1px solid $colorBorder; 
                border-right: none;
                padding: 10px 10px;
                color: white;
                font-weight: 300;
               
            }
        }
    }
}

