$height: 54px;
$borderColor: #DEDEDE;
$min-height:auto;
.ts-theme{
    .ts-tabs{
        position: relative;
        .white-line{
            position: absolute;
            height: 4px;
            width: 249px;
            background: white;
            top: 53px;
        }
        border: 1px solid black;
        & > *{
            box-sizing:border-box; 
        }
        &__complete{
            display: none;
        }
        &.complete{
            .ts-tabs__complete{
                display: flex;
                align-items: center;
                padding-left: 15px;
                color: orange;
                width: 100%;
                font-size: 18px;
            }



        }
        &__nav{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            height: 53px;
            overflow: hidden;
            &-scroll{
                width: 2000px;
                position: absolute;
            }
            &-item{
                height: $height;
                border: 1px solid $borderColor;
                border-right: 0;
                border-bottom: 0;
                position: relative;
                display: flex;
                //flex-direction: column;
                align-items: center;
                justify-content: center;
                //padding-right:1rem ;
                //padding-left: 1rem;

                &:last-child{
                    border-right: 1px solid $borderColor;
                }
                &.active{
                    &:after{
                        content:'';
                        display:block;
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        bottom: -2px;
                        background: white;
                    }
                }
            }
        }
        &__content{
            border: 1px solid $borderColor;
            min-height: $min-height;
        }
    }
}