input {
  width: 100%; }

.check__payment {
  box-sizing: border-box;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 768px) {
  .roadmap-item-point {
    position: static;
    display: block;
    min-width: 100%;
    text-align: left;
    padding-left: 0.5rem !important;
    height: 5rem; } }

.ts-theme {
  color: #656565; }
  .ts-theme .ts-theme small {
    font-size: calc( 0.00227 * 100vw + 9.27273px);
    line-height: 1.4; }
  .ts-theme .route {
    min-height: 115px; }
    .ts-theme .route li {
      font-size: 14px; }
  .ts-theme h6 {
    font-size: calc( 0.00455 * 100vh + 14.54545px) !important;
    line-height: 24px;
    font-weight: bold !important; }
    .ts-theme h6.time, .ts-theme h6.summ {
      font-size: 24px !important; }
      .ts-theme h6.time span, .ts-theme h6.summ span {
        color: #ff5722; }
  .ts-theme h5 {
    font-size: calc( 0.00682 * 100vh + 15.81818px) !important;
    color: #004a9e;
    font-weight: bold; }

.ts-border {
  border: 1px solid #DEDEDE !important; }

.ts-hr__dashed {
  border-bottom: 2px dashed #DEDEDE !important; }

.select-item .select-text {
  line-height: 1 !important; }
