
/* 
    Created on : 19.11.2017, 18:42:40
    Author     : dimabresky
*/

.booking-block-inner .table-wrapper .table-item:nth-child(5) {
    width: 8.8125rem !important;
}

.btn.btn-colored.small {
    min-width: 8.25rem !important;
}

.dep-points-title {
    font-weight: 600 !important;
    margin-bottom: 10px;
}

.dropdown-content .text-1 {
    margin-bottom: 5px !important;
}

.bus-map-container {
    position: relative;
}

.bus-title {
    font-size: 12px;
}

.bus-map-container .rect {
    position: absolute;
    display: block;
    z-index: 19;
    cursor: pointer;
}

.bus-map-img {
    margin: 0;
    border: none; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 19
}

.bus-map-container .rect .bsInnerRect {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}

input[name="eurotrans[book_request]"] {
    padding: .78125rem 1.375rem;
}


/*popup*/