.block-sub .block-sub-btn {
	display: inline-block;
	position: absolute;
	width: 125px;
	top: 3px;
	height: 37.5px;
	padding: 0;
	right: 0;
	text-decoration: none!important;
	cursor: pointer;
	font: 15px Tahoma,sans-serif;
	color: #fff;
	text-align: center;
	background: url(/public-int/integration/search-form/themes/4434-belarusturist/button.png?v=1446124542) no-repeat;
	background-position: right -45px;
}
#asd_subscribe_res {
	color: #488f3e !important;
}
@media (max-width: 767px) {
	.block-sub .block-sub-btn {
		top: -1px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.block-sub .block-sub-btn {
		top: 8px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.block-sub .block-sub-btn {
		top: 16px;
	}
}