div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.couter-views {float:right; font-size: 0.65rem; color: #999;}
.couter-views i {margin-left:4px; font-size:11px;}