/*
    Created on : 19.11.2017, 18:42:40
    Author     : dimabresky
*/
@import "./css/ts-style.css";
@import "./css/ts-theme.css";

.ts-tabs__content-item{
    display: none;
}
.ts-tabs{
    border:none !important;
}
.ts-tabs__content-item.active {
    display: block;
}
.ts-tabs__nav-item{
    border: 1px solid #dedede !important;

}

.ts-theme .ts-tabs__content {
    border: none;
    border-top: 1px solid #DEDEDE;
    min-height: auto;
}
.ts-theme .ts-tabs__nav-item {
    height: 54px;
    border: none;
    border-right: 1px solid #DEDEDE;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card .tittle{
    color: #004a9e;
    font-size: 20px !important;
    text-transform: uppercase;
}
#payment-user svg{
    fill:#767676;
    height: 20px;
    width: 20px;
}
#payment-user label.active{
    background: #ff8600;
    color: white;
}
#payment-user label.active svg{
    fill: #004a9e;
}

#eurotrans-booking-btn.animated input{
    background-color: #dae6ec;
    color: transparent!important;
    pointer-events: none;
    border-color: #dae6ec;
}
.white-line{
    border-left: 1px solid #dedede;
}

.form-block-section .input-form .input-item.s30{
    width: 30%;
}
.orange{
    color: #ff8400;
}

.btn-switcher-tab{
    display: none;
}
.btn-switcher-tab.active{
    display: block;
}
.btn-switcher-elem {height: 3em;
    min-width: 194px !important;
    font-size: 0.86rem !important;
    line-height: 1.5 !important;}
.bg-semiblu {background-color:#f0f4f7}

.from .time, .to .time{
    font-size: 16px;
    margin-bottom: 4px;
    line-height: 16px;
}
.from svg, .to  svg{
    fill:#004a9e;

    width: 30px;
    height: 30px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transform: translateX(1px);
    border-left: 5px solid #004aa1;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #004aa1;
    transform: translate(-3px);
}
.arrow-left__header {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #004aa1;
    transform: translate(-1px);
}
.arrow-right__header {
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;

    border-left: 9px solid #004aa1;
}
.text-way{
    font-weight: bolder;
    font-size: 14px !important;
    line-height: 19px;
}
.text-way > .small{
    font-weight: normal;
}
.ts-v-row{
    background: url('./img/row.svg');
    background-repeat-x: no-repeat;
    background-position: center;
    background-size: 100%;
    max-width: 3px;
    /* transform: translateX(3px); */
}
.ts-hv__dashed{
    margin: 30px 0;
}
.ts-border-left__dashed{
    border-color: #004a9e;
    border-size: 2px;
    border-left-width: 2px;
}
.from .arrow{

}
.date{
    background: #004a9e;
    color: white;
    padding: 3px;
    font-size: 12px !important;
    border-radius: 4px;
    line-height: 12px;
}
.ts-bg-white{
    background: white;
    padding: 2px 0;
    margin: -4px 0;
}
.ts-theme h6.summ span {
    color: #004aa1;
}
.js-popup-map:after{
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 12px;
    background-image: url(/bitrix/templates/eurotrans/img/pin.svg);
}
.map-marker-content{
    text-align: center;
    font-size: 20px;
}
#payment-user label{
    height: 75px;
    box-sizing: border-box;
}
#payment-user label.active{
    border:2px solid #004a9e !important;
    color: #004a9e;
    background: white;
}
.ts-tabs__nav-item{
    font-size: 16px !important;
    color: #004aa1;
    font-weight: bolder;
}
.ts-theme .color-blue{
    color: #004aa1;
}
.min, .sec{
    color: #004a9e !important;
    font-size: 24px !important;
    text-transform: uppercase;
}
.payment_card{
    box-sizing: border-box;
    border: 1px solid #dedede;
    display: flex;
    align-items: center;
    position: relative;
    color:#656565;
    transition: all 0.3s;
}
.payment_card li{
    margin: auto 10px;
    display: flex;
    align-items: center;
}
.pay-img img{
    height: 30px;
}

.arrow-right-pay{

    display: block;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #004aa1;
    position: absolute;
    right: 15px;

}

.payment_card.active, .payment_card:hover{
    border: 1px solid #004a9e !important;
    color: #004a9e;

    transition: all 0.3s;
}