@import url(https://fonts.googleapis.com/css?family=Poppins);@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek-ext,latin-ext);@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i&subset=latin-ext);@charset "UTF-8";
@font-face {
  font-family: 'TVicons';
  src: url("//static.tourvisor.ru/fonts/TVicons.eot?155pn4");
  src: url("//static.tourvisor.ru/fonts/TVicons.eot?155pn4#iefix") format("embedded-opentype"), url("//static.tourvisor.ru/fonts/TVicons.ttf?155pn4") format("truetype"), url("//static.tourvisor.ru/fonts/TVicons.woff?155pn4") format("woff"), url("//static.tourvisor.ru/fonts/TVicons.svg?155pn4#TVicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.positon-static {
  position: static !important; }

.bg-white {
  background: white; }

.bg-date {
  background: #fffefee6; }

.d-none {
  display: none !important; }


.ml-0{
	margin-left:0 !important;
}
.top-air-form, .bottom-air-form {
  padding: 15px 3%;
  background: #192e5b;
  }
  .top-air-form ul, .top-air-form li, .bottom-air-form ul, .bottom-air-form li {
    margin: 0;
    padding: 0; }
  .top-air-form .fight_complexity, .bottom-air-form .fight_complexity {
    /* padding: 0.625rem 0; */
    /* height: 54px; */
    }
    .top-air-form .fight_complexity::after, .bottom-air-form .fight_complexity::after {
      /* content: ''; */
      display: block;
      height: 1px;
      background: white;
      width: 100%;
      margin-top: 12px;
      }
    .top-air-form .fight_complexity ul, .bottom-air-form .fight_complexity ul {
      display: flex;
      list-style: none; }
      .top-air-form .fight_complexity ul li, .bottom-air-form .fight_complexity ul li {
        margin-right: 2.5rem;
        }
        .top-air-form .fight_complexity ul li::before, .bottom-air-form .fight_complexity ul li::before {
          background-color: #ffffff;
          border: 1px solid #dddddd;
          border-radius: 2px;
          content: '\E90B';
          margin-right: 0.625rem;
          font-family: "TVicons";
          color: #ffffff;
          width: 1.125rem;
          height: 1.125rem;
          font-size: 0.8125rem;
          position: relative;
          top: -2px;
          }
        .top-air-form .fight_complexity ul li label, .bottom-air-form .fight_complexity ul li label {
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 13px;
          color: white;
          }
        .top-air-form .fight_complexity ul li:hover::before, .bottom-air-form .fight_complexity ul li:hover::before {
          color: green; }
        .top-air-form .fight_complexity ul li.active:before, .bottom-air-form .fight_complexity ul li.active:before {
          color: green; }
  .top-air-form .main-content-items-form, .bottom-air-form .main-content-items-form {
    width: 100%;
    display: flex;
    align-items: end;
    margin-top: 11px;
    }
    .top-air-form .main-content-items-form .item, .bottom-air-form .main-content-items-form .item {
      height: 56px;
      width: 21%;
      background: white;
      position: relative;
      border-right: 1px solid rgb(221, 221, 221);
      display: flex;
      align-items: flex-end;
      }
      .top-air-form .main-content-items-form .item:hover, .bottom-air-form .main-content-items-form .item:hover {
        background: #f6f6f3; }
        .top-air-form .main-content-items-form .item:hover input, .bottom-air-form .main-content-items-form .item:hover input {
          background: #f6f6f3; }
      .top-air-form .main-content-items-form .item .placeCode, .bottom-air-form .main-content-items-form .item .placeCode {
        font-size: 10px;
        text-transform: uppercase;
        color: #777777;
        font-weight: normal;
        top: 12px;
        right: 17px;
        position: absolute;
        }
      .top-air-form .main-content-items-form .item label, .bottom-air-form .main-content-items-form .item label {
        display: block;
        position: absolute;
        top: 12px;
        left: 17px;
        z-index: 100;
        color: #777777;
        font-size: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 100;
        }
        .top-air-form .main-content-items-form .item label::before, .bottom-air-form .main-content-items-form .item label::before {
          content: '\E954';
          font-family: "TVicons";
          color: #777777;
          margin-right: 5px; }
      .top-air-form .main-content-items-form .item .calendarb, .bottom-air-form .main-content-items-form .item .calendarb {
        width: 25rem;
        display: none;
        position: absolute;
        top: 105%;
        right: 0;
        z-index: 100;
        border-radius: 0 !important;
        cursor: pointer;
        font-size: 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 1;
        transition: visibility 0.1s, opacity s; }
        .top-air-form .main-content-items-form .item .calendarb .ui-datepicker, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker {
          background: white;
          border: 1px solid #e7e7e7; }
        .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-header, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-header {
          position: relative;
          height: 3rem;
          background-color: #c02222; }
          .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-header a, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-header a {
            position: absolute;
            right: 10px;
            background-image: url(img/right-arrow.svg);
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 1rem; }
            .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-header a:first-child, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-header a:first-child {
              left: 15px;
              transform: rotate(180deg); }
          .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-header .ui-datepicker-title, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-header .ui-datepicker-title {
            text-align: center;
            font-size: 1.5rem;
            line-height: 2.9rem;
            color: white; }
        .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar {
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem; }
          .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar th, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar th {
            text-align: center; }
          .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td {
            text-align: center;
            height: 2rem;
            width: 2rem; }
            .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td a, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td a {
              font-weight: 300;
              text-decoration: none;
              font-family: "Open Sans", sans-serif;
              color: #333333;
              width: 100%;
              height: 100%;
              display: block;
              background: transparent;
              line-height: 30px; }
            .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td .ui-state-active, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td .ui-state-active {
              color: white;
              font-weight: 500;
              background: #c02222; }
            .top-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td:hover, .bottom-air-form .main-content-items-form .item .calendarb .ui-datepicker-calendar td:hover {
              background-color: #ebe9e9; }
      .top-air-form .main-content-items-form .item input, .top-air-form .main-content-items-form .item .date, .bottom-air-form .main-content-items-form .item input, .bottom-air-form .main-content-items-form .item .date {
        margin-bottom: 5px;
        border: none;
        height: 26px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        color: rgb(51, 51, 51);
        margin-left: 17px;
        max-width: 85%;
        background: transparent;
        }
        .top-air-form .main-content-items-form .item input:focus, .top-air-form .main-content-items-form .item .date:focus, .bottom-air-form .main-content-items-form .item input:focus, .bottom-air-form .main-content-items-form .item .date:focus {
          outline: none; }
      .top-air-form .main-content-items-form .item.active, .bottom-air-form .main-content-items-form .item.active {
        background: #f6f6f3; }
        .top-air-form .main-content-items-form .item.active .calendarb, .bottom-air-form .main-content-items-form .item.active .calendarb {
          display: block; }
        .top-air-form .main-content-items-form .item.active input, .bottom-air-form .main-content-items-form .item.active input {
          background: #f6f6f3; }
      .top-air-form .main-content-items-form .item:nth-child(2), .bottom-air-form .main-content-items-form .item:nth-child(2) {
        width: 7%;
        min-width: 58px;
        align-items: center;
        justify-content: center;
        }
        .top-air-form .main-content-items-form .item:nth-child(2) svg, .bottom-air-form .main-content-items-form .item:nth-child(2) svg {
          width: 1.5625rem;
          height: 1.5625rem;
          transform: rotate(0);
          transition: transform 0.5s; }
          .top-air-form .main-content-items-form .item:nth-child(2) svg path, .bottom-air-form .main-content-items-form .item:nth-child(2) svg path {
            fill: #777777; }
          .top-air-form .main-content-items-form .item:nth-child(2) svg:active, .bottom-air-form .main-content-items-form .item:nth-child(2) svg:active {
            transform: rotate(180deg); }
      .top-air-form .main-content-items-form .item:nth-child(3), .bottom-air-form .main-content-items-form .item:nth-child(3) {
        width: 22%; }
      .top-air-form .main-content-items-form .item:nth-child(4), .bottom-air-form .main-content-items-form .item:nth-child(4) {
        width: 16.5%;
        position: relative; }
        .top-air-form .main-content-items-form .item:nth-child(4) label::before, .bottom-air-form .main-content-items-form .item:nth-child(4) label::before {
          content: '\E93B'; }
      .top-air-form .main-content-items-form .item:nth-child(5), .bottom-air-form .main-content-items-form .item:nth-child(5) {
        width: 16.5%;
        position: relative; }
        .top-air-form .main-content-items-form .item:nth-child(5) label::before, .bottom-air-form .main-content-items-form .item:nth-child(5) label::before {
          content: '\E93B'; }
      .top-air-form .main-content-items-form .item:nth-child(6), .bottom-air-form .main-content-items-form .item:nth-child(6) {
        width: 100%;
        background: #c02222;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        border: none;
        height: 56px;
        font-weight: 600;
        font-size: 18px;
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        }
        .top-air-form .main-content-items-form .item:nth-child(6):hover, .bottom-air-form .main-content-items-form .item:nth-child(6):hover {
          background: #d42626;
          outline: none; }
        .top-air-form .main-content-items-form .item:nth-child(6):active, .bottom-air-form .main-content-items-form .item:nth-child(6):active {
          background: #e62727;
          outline: none; }
  .top-air-form .secondary-content-items-form, .bottom-air-form .secondary-content-items-form {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0; }
    .top-air-form .secondary-content-items-form .item, .bottom-air-form .secondary-content-items-form .item {
      width: 17%;
      margin-right: 3%;
      position: relative;
      }
      .top-air-form .secondary-content-items-form .item .filter-option, .bottom-air-form .secondary-content-items-form .item .filter-option {
        display: flex;
        height: 30px;
        background: #f0f0f0;
        line-height: 30px;
        text-align: center;
        border-top: 1px solid #d1d0d0;
        border-bottom: 1px solid #d1d0d0;
        padding-left: 5px;
        font-size: 1.1rem; }
      .top-air-form .secondary-content-items-form .item .select::before, .bottom-air-form .secondary-content-items-form .item .select::before {
        content: '\427\435\43B\43E\432\435\43A';
        display: block;
        /* position: absolute; */
        color: #222;
        font-weight: 600;
        margin: 0;
        font-size: 9px;
        text-transform: uppercase;
        margin-bottom: 0;
        top: -12px;
        font-weight: 700;
        color: #222;
        font-weight: 600;
        }
      .top-air-form .secondary-content-items-form .item .select::after, .bottom-air-form .secondary-content-items-form .item .select::after {
        content: '\E95E';
        font-family: 'TVIcons';
        position: absolute;
        right: 0.3125rem;
        font-size: 1.3rem;
        line-height: 1.25rem;
        bottom: 5px;
        content: '\e95e';
        font-family: 'TVIcons';
        position: absolute;
        right: 5px;
        font-size: 16px;
        line-height: 20px;
        }
      .top-air-form .secondary-content-items-form .item .select.active::after, .bottom-air-form .secondary-content-items-form .item .select.active::after {
        transform: rotate(180deg) !important; }
      .top-air-form .secondary-content-items-form .item .select .selected, .bottom-air-form .secondary-content-items-form .item .select .selected {
        background: white;
        border: 1px solid #e7e7e7;
        border-radius: 0 !important;
        /* padding: 0.25rem 1.25rem 0.25rem 0.5rem !important; */
        padding: 4px 20px 4px 8px;
        cursor: pointer;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        height: 25px;
        max-width: 200px;
        /* border: 1px solid #ddd; */
        /* background-color: #ffffff; */
        color: #555555;
        font-weight: 300;
        height: 30px;
        }
      .top-air-form .secondary-content-items-form .item .options, .bottom-air-form .secondary-content-items-form .item .options {
        display: block;
        position: absolute;
        top: 105%;
        right: 0;
        width: 100%;
        border-radius: 0 !important;
        cursor: pointer;
        font-size: 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.8rem;
        background: white;
        border: 1px solid #e7e7e7;
        opacity: 0;
        visibility: hidden; }
        .top-air-form .secondary-content-items-form .item .options.active, .bottom-air-form .secondary-content-items-form .item .options.active {
          opacity: 1 !important;
          visibility: visible !important;
          z-index: 100 !important; }
        .top-air-form .secondary-content-items-form .item .options .submit, .bottom-air-form .secondary-content-items-form .item .options .submit {
          background-color: #fdfdfd;
          border: 1px solid #dddddd;
          color: #777777;
          font-size: 0.875rem;
          line-height: 24px;
          width: 100%;
          padding: 0.3125rem 0;
          border-radius: 2px;
          text-align: center;
          cursor: pointer;
          text-transform: uppercase; }
          .top-air-form .secondary-content-items-form .item .options .submit:hover, .bottom-air-form .secondary-content-items-form .item .options .submit:hover {
            background: #c02222;
            color: white; }
          .top-air-form .secondary-content-items-form .item .options .submit:active, .bottom-air-form .secondary-content-items-form .item .options .submit:active {
            background: #e62727;
            color: white; }
        .top-air-form .secondary-content-items-form .item .options .option, .bottom-air-form .secondary-content-items-form .item .options .option {
          padding: 0 0 1rem 0; }
          .top-air-form .secondary-content-items-form .item .options .option label, .bottom-air-form .secondary-content-items-form .item .options .option label {
            position: relative;
            width: 100%; }
          .top-air-form .secondary-content-items-form .item .options .option .clear, .bottom-air-form .secondary-content-items-form .item .options .option .clear {
            position: absolute;
            transform: rotate(45deg);
            right: 0;
            top: 0; }
            .top-air-form .secondary-content-items-form .item .options .option .clear::after, .bottom-air-form .secondary-content-items-form .item .options .option .clear::after {
              content: '\E913';
              font-family: "TVicons"; }
            .top-air-form .secondary-content-items-form .item .options .option .clear:active, .bottom-air-form .secondary-content-items-form .item .options .option .clear:active {
              color: #e62727; }
          .top-air-form .secondary-content-items-form .item .options .option .form-count-people, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.4375rem 0.25rem;
            background-color: #F0F0F0;
            border-bottom: 1px solid #D1D0D0;
            border-top: 1px solid #D1D0D0; }
            .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people {
              background: url(img/sprite.png);
              width: 16px;
              height: 31px;
              background-image: url(//tourvisor.ru/module/newform/images/sprite.png);
              background-position: -33px -39px; }
              .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:hover, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:hover {
                background-position: -33px -76px; }
              .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people.active, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people.active {
                background-position: -33px -76px !important; }
              .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(2), .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(2) {
                width: 29px;
                background-position: -51px -39px; }
                .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(2):hover, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(2):hover {
                  background-position: -51px -76px; }
                .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(2).active, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(2).active {
                  background-position: -51px -76px    !important; }
              .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(3), .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(3) {
                width: 43px;
                background-position: -80px -39px; }
                .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(3):hover, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(3):hover {
                  background-position: -80px -76px; }
                .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(3).active, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(3).active {
                  background-position: -80px -76px    !important; }
              .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(4), .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(4) {
                width: 56px;
                background-position: -121px -39px; }
                .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(4):hover, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(4):hover {
                  background-position: -122px -76px; }
                .top-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(4).active, .bottom-air-form .secondary-content-items-form .item .options .option .form-count-people .button-count-people:nth-child(4).active {
                  background-position: -122px -76px   !important; }
          .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people {
            justify-content: space-evenly; }
            .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people {
              height: 19px;
              background-position: 169px 88px; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:hover, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:hover {
                background-position: 169px 65px; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people.active, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people.active {
                background-position: 169px 65px !important; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2), .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2) {
                width: 24px;
                background-position: 155px 88px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2):hover, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2):hover {
                  background-position: 155px 65px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2).active, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(2).active {
                  background-position: 155px 65px !important; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3), .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3) {
                width: 34px;
                background-position: 133px 88px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3):hover, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3):hover {
                  background-position: 133px 65px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3).active, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(3) .form-count-people .button-count-people:nth-child(3).active {
                  background-position: 133px 65px !important; }
          .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people {
            justify-content: space-evenly; }
            .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people {
              height: 19px;
              background-position: 169px 88px; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:hover, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:hover {
                background-position: 169px 65px; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people.active, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people.active {
                background-position: 169px 65px !important; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2), .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2) {
                width: 24px;
                background-position: 155px 88px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2):hover, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2):hover {
                  background-position: 155px 65px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2).active, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(2).active {
                  background-position: 155px 65px !important; }
              .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3), .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3) {
                width: 34px;
                background-position: 133px 88px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3):hover, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3):hover {
                  background-position: 133px 65px; }
                .top-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3).active, .bottom-air-form .secondary-content-items-form .item .options .option:nth-child(4) .form-count-people .button-count-people:nth-child(3).active {
                  background-position: 133px 65px !important; }
      .top-air-form .secondary-content-items-form .item:last-child, .bottom-air-form .secondary-content-items-form .item:last-child {
        width: 15%; }
        .top-air-form .secondary-content-items-form .item:last-child .select::before, .bottom-air-form .secondary-content-items-form .item:last-child .select::before {
          content: '\41A\43B\430\441\441'; }
        .top-air-form .secondary-content-items-form .item:last-child .options .option::before, .bottom-air-form .secondary-content-items-form .item:last-child .options .option::before {
          background-color: #ffffff;
          border: 1px solid #dddddd;
          border-radius: 2px;
          content: '\E90B';
          margin-right: 10px;
          font-family: "TVicons";
          color: #ffffff;
          width: 18px;
          height: 18px;
          font-size: 13px; }
        .top-air-form .secondary-content-items-form .item:last-child .options .option:hover::before, .bottom-air-form .secondary-content-items-form .item:last-child .options .option:hover::before {
          color: green; }
        .top-air-form .secondary-content-items-form .item:last-child .options .option.active::before, .bottom-air-form .secondary-content-items-form .item:last-child .options .option.active::before {
          color: green; }

.bottom-air-form {
  background: rgba(255, 254, 254, 0.9019607843137255);
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  padding: 15px 3%;
  /* height: 8.625rem; */
  display: flex;
  align-items: center;
  height: 74px;
  }

@media (max-width: 1024px) {

  .bottom-air-form .secondary-content-items-form .item {
    width: 30%;
    position: relative;
    max-width: 200px;
    }
    .bottom-air-form .secondary-content-items-form .item .options {
      min-width: 180px;
      left: 0;
      right: initial; }
    .bottom-air-form .secondary-content-items-form .item:last-child {
      width: 20%;
      min-width: auto; }
      .bottom-air-form .secondary-content-items-form .item:last-child .options {
        min-width: 100px; } }

@media (max-width: 768px) {
  body {
    padding: 0.5rem; }

  .top-air-form .main-content-items-form, .bottom-air-form .main-content-items-form {
    width: 100%;
    display: flex;
    align-items: end;
    margin-top: 0.9375rem;
    flex-wrap: wrap;
    justify-content: space-between; }
  .top-air-form .main-content-items-form .item:nth-child(n) {
    width: 44%;
    margin-bottom: 8px; }
    .top-air-form .main-content-items-form .item:nth-child(n):last-child {
      width: 100%; }
  .top-air-form .main-content-items-form .item:nth-child(2), .bottom-air-form .main-content-items-form .item:nth-child(2) {
    width: 9%;
    /* min-width: 4.0625rem; */
    align-items: center;
    justify-content: center; }
  .bottom-air-form .secondary-content-items-form .item {
    width: 40%;
    margin-right: 3%;
    position: relative; }
    .bottom-air-form .secondary-content-items-form .item:last-child {
      width: 30%; } }

@media (max-width: 568px) {
	.top-air-form .fight_complexity ul li label, .bottom-air-form .fight_complexity ul li label {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 9px;
    color: white;
	}
  .h3 {
    position: fixed;
    top: 0;
    font-weight: 300;
    text-align: center;
    left: 0;
    width: 100%;
    background: #e7e5e0;
    padding: 10px;
    color: #222; }
  .close-wrap {
    position: fixed;
    top: 0;
    right: 5%;
    height: 20px;
    width: 20px; }
    .close-wrap::before {
      content: '\437\430\43A\440\44B\442\44C'; }
    .close-wrap::after {
      content: '\E913';
      font-family: "TVicons";
      font-size: 20px;
      color: #222;
      transform: rotate(45deg); }
  .top-air-form .main-content-items-form, .bottom-air-form .main-content-items-form {
    justify-content: center; }
  .top-air-form .main-content-items-form .item:nth-child(n) {
    width: 100%;
    margin-bottom: 8px; }
    .top-air-form .main-content-items-form .item:nth-child(n):last-child {
      width: 100%; }
  .top-air-form .main-content-items-form .item:nth-child(2), .bottom-air-form .main-content-items-form .item:nth-child(2) {
    width: 12%;
    /* min-width: 4.0625rem; */
    align-items: center;
    justify-content: center;
    transform: rotate(90deg); }
  .top-air-form .main-content-items-form .item.dates.active .calendarb {
    position: fixed;
    background: #f6f5f3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000; }
    .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker {
      background: transparent;
      border: transparent; }
    .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-header {
      position: relative;
      height: 3rem;
      background-color: transparent; }
      .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-header a {
        position: absolute;
        border: none;
        right: 10px;
        background-image: url(img/right-arrow-black.svg);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem; }
        .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-header a:first-child {
          left: 15px;
          transform: rotate(180deg); }
      .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-header .ui-datepicker-title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.9rem;
        color: black; }
    .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-calendar {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem; }
      .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-calendar th {
        text-align: center; }
      .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-calendar td {
        text-align: center;
        height: 2rem;
        width: 2rem; }
        .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-calendar td a {
          font-weight: 300;
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          color: #333333;
          width: 100%;
          height: 100%;
          display: block;
          background: transparent;
          line-height: 30px; }
        .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-calendar td .ui-state-active {
          color: white;
          font-weight: 500;
          background: #c02222; }
        .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker-calendar td:hover {
          background-color: #ebe9e9; }
    .top-air-form .main-content-items-form .item.dates.active .calendarb .ui-datepicker {
      width: 80%; }
  .top-air-form .main-content-items-form .item .date .calendarb .ui-datepicker {
    height: 267px; }
  .bottom-air-form .secondary-content-items-form {
    justify-content: space-between; }
  .bottom-air-form .secondary-content-items-form .item {
    width: 60%;
    margin-right: 0;
    position: relative; }
    .bottom-air-form .secondary-content-items-form .item .options {
      min-width: 180px;
      left: 0;
      right: initial; }
    .bottom-air-form .secondary-content-items-form .item:last-child {
      width: 35%;
      min-width: auto; }
      .bottom-air-form .secondary-content-items-form .item:last-child .options {
        min-width: 100px; }
  .bottom-air-form .secondary-content-items-form .item .options {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #f6f5f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .bottom-air-form .secondary-content-items-form .item .options .wrap-options {
      width: 300px;
      padding: 15px;
      position: relative; }
    .bottom-air-form .secondary-content-items-form .item .options .submit {
      display: block; } }

@media (min-width: 569px) {
  .bottom-air-form .secondary-content-items-form .item .options .filter-option {
    display: none; }
  .bottom-air-form .secondary-content-items-form .item .options .submit {
    display: none; }
  .close-wrap {
    display: none; }
  .h3 {
    display: none !important; } }