<head><link href="ts-custom-style.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve '/Users/egor/Desktop/проекты/работа/verstka.tio.new/src/template.jade' in '/Users/egor/Desktop/проекты/работа/verstka.tio.new':
  Error: Can't resolve '/Users/egor/Desktop/проекты/работа/verstka.tio.new/src/template.jade' in '/Users/egor/Desktop/проекты/работа/verstka.tio.new'
  
  - compiler.js:79 childCompiler.runAsChild
    [verstka.tio.new]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:296 compile
    [verstka.tio.new]/[webpack]/lib/Compiler.js:296:11
  
  - Compiler.js:553 hooks.afterCompile.callAsync.err
    [verstka.tio.new]/[webpack]/lib/Compiler.js:553:14
  
  
  - Hook.js:35 AsyncSeriesHook.lazyCompileHook [as _callAsync]
    [verstka.tio.new]/[tapable]/lib/Hook.js:35:21
  
  - Compiler.js:550 compilation.seal.err
    [verstka.tio.new]/[webpack]/lib/Compiler.js:550:30
  
  
  - Hook.js:35 AsyncSeriesHook.lazyCompileHook [as _callAsync]
    [verstka.tio.new]/[tapable]/lib/Hook.js:35:21
  
  - Compilation.js:1284 hooks.optimizeAssets.callAsync.err
    [verstka.tio.new]/[webpack]/lib/Compilation.js:1284:35
  
  
  - Hook.js:35 AsyncSeriesHook.lazyCompileHook [as _callAsync]
    [verstka.tio.new]/[tapable]/lib/Hook.js:35:21
  
  - Compilation.js:1275 hooks.optimizeChunkAssets.callAsync.err
    [verstka.tio.new]/[webpack]/lib/Compilation.js:1275:32
  
  
  - Hook.js:35 AsyncSeriesHook.lazyCompileHook [as _callAsync]
    [verstka.tio.new]/[tapable]/lib/Hook.js:35:21
  
  - Compilation.js:1270 hooks.additionalAssets.callAsync.err
    [verstka.tio.new]/[webpack]/lib/Compilation.js:1270:36
  
  
  - Hook.js:35 AsyncSeriesHook.lazyCompileHook [as _callAsync]
    [verstka.tio.new]/[tapable]/lib/Hook.js:35:21
  
  - Compilation.js:1266 hooks.optimizeTree.callAsync.err
    [verstka.tio.new]/[webpack]/lib/Compilation.js:1266:32
  
  
  - Hook.js:35 AsyncSeriesHook.lazyCompileHook [as _callAsync]
    [verstka.tio.new]/[tapable]/lib/Hook.js:35:21
  
  - Compilation.js:1203 Compilation.seal
    [verstka.tio.new]/[webpack]/lib/Compilation.js:1203:27
  
  - Compiler.js:547 hooks.make.callAsync.err
    [verstka.tio.new]/[webpack]/lib/Compiler.js:547:17
  
  
  - Compilation.js:1054 _addModuleChain
    [verstka.tio.new]/[webpack]/lib/Compilation.js:1054:12
  
  - Compilation.js:920 errorAndCallback.bail.err
    [verstka.tio.new]/[webpack]/lib/Compilation.js:920:6
  
  - Compilation.js:953 moduleFactory.create
    [verstka.tio.new]/[webpack]/lib/Compilation.js:953:14
  
  - NormalModuleFactory.js:397 factory
    [verstka.tio.new]/[webpack]/lib/NormalModuleFactory.js:397:22
  
  - NormalModuleFactory.js:130 resolver
    [verstka.tio.new]/[webpack]/lib/NormalModuleFactory.js:130:21
  
  - NormalModuleFactory.js:224 asyncLib.parallel
    [verstka.tio.new]/[webpack]/lib/NormalModuleFactory.js:224:22
  
  - async.js:2817 
    [verstka.tio.new]/[neo-async]/async.js:2817:7
  
</pre><script type="text/javascript" src="main.js"></script>