@import 'react-form.css';

header{
    background: #f9f9f9;

}
.ts-border__color__light-gray{
    border-bottom-color: #e8e8e8 !important;
}
.header-icon-search {
    border: none;
    color: #9ce2fe;
}
.header-title-search {
    border-bottom: 1px dashed #000;
    color: #000;
}
.header-order-block {
    text-align: right;
}
.header-order-block-title {
    color: #000;
    opacity: 0.8;
    transition: all .3s;
    font-size: 15px;
    border-bottom: 1px dashed #000;
    margin-right: 20px;
}
.header-phone-block {
    /* color: #364f66; */
    /* font-size: 20px; */
    /* font-weight: 700; */
    color: #364f66;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    top: 3px;
    /* text-align: right; */
}
.header-icon-phone {
    /* border: none; */
    color: #9ce2fe;
    font-size: 24px !important;
    margin-right: 5px;
    /* margin-top: 5px; */
    /* padding-top: 15px; */
}
.area-bg.child-block
{
    margin-left: -240px;
    width: 145%;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
.row-flex .b-post_bg-white {
    height: 100%;
}
.widget.section-sidebar.left_block {
    margin-top: 50px;
    margin-bottom: 29px;
}
.widget.section-sidebar.left_block .ui-title-inner {
    margin-bottom: 0 !important;
}
.bg-grey .l-sidebar_first-section {
    margin-top: 30px;
}
/*
.opblock {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-image: repeating-linear-gradient(to top,rgb(254, 254, 254) 0%,rgba(226, 226, 226, 0) 100%,rgba(209, 209, 209, 0.38) 255%,rgba(219, 219, 219, 0) 255%,rgba(209, 209, 209, 0.38) 255%);
}
.soap-block {
    height: 185px;
    overflow: hidden;
    position: relative;
}
*/

/*.soap-block {
    height: 185px;
    overflow: hidden;
    position: relative;
}*/
/*
.size {
    height: 185px;
    overflow: hidden; !* Обрезаем содержимое *!
    padding: 5px; !* Поля *!
    text-overflow: ellipsis; !* Многоточие *!
}
.size:hover {
    background: #f0f0f0; !* Цвет фона *!
    white-space: normal; !* Обычный перенос текста *!
}*/
/*.size {
    position: relative;
    max-height: 185px;
    overflow: hidden;
}
.size:after {
    content: '...';
    position: absolute;
    bottom: 7px;
    right: 0;
}*/

.ellipsis {
    white-space: nowrap;
    /*max-height: 185px;*/
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}
.pagination > li > a, .pagination > li > span {
    background-color: transparent;
}
.sp-slides .photo-title {margin-bottom: 10px;}
h1,
.h1 {
    font-size: 34px;
}
h2,
.h2 {
    font-size: 26px;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 22px;
}
h5,
.h5 {
    font-size: 16px;
}
h6,
.h6 {
    font-size: 14px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.b-post {
    position: relative;
}

.b-post .entry-media {
    /* height: 100%; */
    /* align-items: center; */
}

.b-post .entry-media .js-zoom-images {
    margin: auto;
}

.tabs-forms_TVTopForm{
    display:flex;
    margin:0;
    padding:0;

}
.item-tabs-forms-TVTopForm{
    background: rgba(255, 254, 254, 0.9019607843137255);
    list-style:none;
    padding:13px;
    border-right:1px solid #ddd;
    transition: background 0.3s, border 0.3s, color 0.3s;
    font-weight:300;
    width:130px;
    text-align:center;
}
.item-tabs-forms-TVTopForm:hover{
    background: #152e5d;
    border-right:1px solid #0a172f;
    color:white;
}
.item-tabs-forms-active-TVTopForm{
    background: #152e5d;
    border-right:1px solid #0a172f;
    color:white;
}
.entry-footer{
    display:flex;
    justify-content:flex-end;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    padding: 0 5%;
}
.entry-content p{
    font-size:14px;
}
@media (min-width: 768px) {
    .b-post .entry-media {
        /* display: flex; */
    }
}