@import "./css/ts-fonts.scss";

input{
  width: 100%;
}

.check__payment{
  box-sizing: border-box;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.route li{

}
@media only screen and (max-width: 768px){
  .roadmap-item-point {
    position: static;
    display: block;
    min-width: 100%;
    text-align: left;
    padding-left: 0.5rem !important;
    height: 5rem;
  }
}
.ts-theme {
  color: #656565;

  .ts-theme small {
    font-size: calc( 0.00227 * 100vw + 9.27273px);

    line-height: 1.4;
  }

  .route{
    min-height:115px;
    li{
      font-size: 14px;
    }
  }

  h6{
   @include  calc-font-size(16,20);
    line-height: 24px;
    font-weight: bold !important;
    &.time,&.summ{
      font-size: 24px !important;

      span{
        color:#ff5722;
      }
    }

  }
  h5{
  @include  calc-font-size(18,24);
    color: #004a9e;
    font-weight: bold;
  }




}
.ts-border{
  border: 1px solid #DEDEDE !important;
}
.ts-hr__dashed{
   border-bottom: 2px dashed #DEDEDE !important;

}
.select-item .select-text{
  line-height: 1 !important;
}



