div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.slider-pro {
	/*height: 550px;*/
	width: 740px !important;
}

.header-text ul{
	list-style: none;
}
.header-text{
	position: relative;
	z-index: 1;
	color: white;
}
.header-text h1{
	color: white;
}
.header-text .info{
	font-size:13px;
}
.header-text .info > *{
	background: #1d8ce2;
	text-align: center;
}
.ts-content p{
	max-width: 830px;
	margin: 15px auto;
	line-height: 26px;
	font-weight: lighter;
}
.ts-content h2{
	font-style: 30px;
}
.ts-content h2,h3,h4,h5{
	max-width: 830px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 100%;
	margin-top: 19px;
	margin-bottom: 19px;
}
.ts-content img{
	max-width: 100%;
	margin-top: 30px !important;
}
.ts-after-text-img{
	text-align: center;
}
.header-article:after{
	content: '';
	display: block;
	opacity: 0.5;
	height: 50%;
	background: linear-gradient(to top, #051937, #06234d, #0b2e65, #13387c, #1f439500);
	width: 100%;
	z-index: 0;
	bottom: 0;
	left: 0;
	position: absolute;
}
@media (max-width: 768px) {

	.header-article:after {
		height: 80%;
	}
}
@media (min-width: 1440px) {
	.ts-content p{
		font-size: 16px;
	}
}
.header-article{
	background-size:cover;
	min-height: 500px;
	position: relative;
	z-index: -1;

}

