/* 
    Created on : 19.11.2017, 20:54:12
    Author     : dimabresky
*/
#main-search-tickets-from .select-text {color:#aaabad; padding-left:0.5rem;}
.page-head-inner {
    padding-top: 2.375rem;}
.inner-search-form{
    background-color: #fff;
    width: 100%;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 2.375rem 2.375rem 3.4375rem;
}

.inner-search-form .link-border {
    margin-left: 20px;
}

.inner-search-form .input-item.s14 {
    width: 14%;
}

.inner-search-form .auto-min-width {
    min-width: 100% !important;
}

.inner-search-form .empty-block {
    height: 20px;
}

.people-input {
    width: 18px;
    text-align: center; 
}

.plus, .minus {
    font-size: 20px;
    color: #ff8400;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ff8400;
}
.plus {padding:2px 6px}
.minus {padding:2px 9px}
.no-mb {margin-bottom: 0 !important}

people-choose {
    width: auto;
}

.input-wrapper.sub-input-wrapper {
    width: 100% !important;
    margin-bottom: 0;
}

.sub-input-wrapper span.label {
    width: 75px;
}

.sub-input-wrapper .people-choose {
    width: 96px;
    font-size: 20px;
    display: inline-block;
    text-align: right;
   margin-left:1px;
}

.lh-12px {
    line-height: 12px !important;
}

@media only screen and (max-width: 1100px) {
    
    .inner-search-form .input-item.s14 {
        width: 25%;
    }
    
}

@media only screen and (max-width: 736px) {
    
    .inner-search-form .input-item.s14 {
        width: 50%;
    }
    
}

@media only screen and (max-width: 399px) {
    
    .inner-search-form .input-item.s14 {
        width: 100%;
    }
    
}
.swapper{
    cursor: pointer;
}
.swapper::after {
    background: url(/bitrix/templates/eurotrans/img/swap_horiz_white_24dp.png) no-repeat center/24px;
    content: '';
    display: block;
    height: 2.2rem;
    -webkit-transition: transform 150ms ease 0ms;
    width: 100%;
}
.left-calendar-icon .icon-drop{
    left: 5% !important;
}
.left-calendar-icon .input-main{
    padding-left: 20% !important;
}
@media (max-width: 400px) {
    .input-wrapper .input-main{
        font-size: .7375rem !important;
    }
    input{
        font-size: .7375rem !important;
    }
}