i.filter-calendar-icon {
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
}
i.calendar-icon {
    background: url("images/calendar-icon.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.sidebar-module-inner {
position: relative;
}
.form-control {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 36px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}